<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>View Your MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>This is your first MadLib!</h1>
      <p>
        No story ever told seems to @Model.Adverb capture the hearts
        and @Model.Noun1 of @Model.Adjective1 readers as does the legend
        of King Arthur and the @Model.Job1 of the a
        table. If we choose to believe the Arthur legend and go along with
        the story that this @Model.Adjective2 king removed from an a
        stone the @Model.Adjective3 sword called Excalibur, then we are giving
        ourselves permission to enjoy this evening's performance. So
        without further ado let us visit the kingdom of Camelot, where
        @Model.Adjective4 knights perform heroic @Model.Noun2, rescue
        a @Model.Job2 in a @Model.ArticleOfClothing
        of armor, and ride off on majestic @Model.PluralAnimal in search of adventure.
      </p>
    </div>
    <div class="container">
      <a href="/">Home</a>
    </div>
  </body>
</html>
